

html, body {
    margin: 0;
    padding: 0;

    --raisin-black: #212738ff;
    --bittersweet: #f97068ff;
    --maximum-green-yellow: #d1d646ff;
    --cultured: #edf2efff;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--raisin-black);

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#warp{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: fit-content;
    padding: 1rem;

    border-radius: 1rem;

    background-color: var(--cultured);
    font-size: 1.25rem;
}


input, .outputNumber {
    border: none;
    width: 5rem;
    font-size: 1.25rem;
    background: none;
}

.input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}




h1 {
    color: var(--bittersweet);
    font-size: 3rem;
}


label {
    display: inline-block;
    text-align: right;
    width: 6rem
}
input {
    display: inline-block;
}
.outputNumber {
    display: inline-block;
}